<link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" >
    <script src="/js/lightbox/jquery.lightbox-0.5.pack.js"></script>
    <script type="text/javascript">
        $(function() { 
            $('#gallery a').lightBox({
            fixedNavigation:true,
            imageLoading: '/img/lightbox/lightbox-ico-loading.gif',
            imageBlank: '/img/lightbox/lightbox-blank.gif',
            imageBtnClose: '/img/lightbox/lightbox-btn-close.gif',
            imageBtnPrev: '/img/lightbox/lightbox-btn-prev.gif',
            imageBtnNext: '/img/lightbox/lightbox-btn-next.gif'
            });
        });
    </script>