<div id="nav">
	<ul>
    	<li><a class="{{page.about}} nav-link" href="/">About</a></li>
   		<li><a class="{{page.projects}} nav-link" href="/projects/">Projects</a></li>
    	<li><a class="{{page.blog}} nav-link" href="/blog/">Blog</a></li>
    	<li><a class="nav-link" href="http://photos.sallysally.ca">Photos</a></li>
    	<li><a class="nav-link" href="/files/resume.pdf">Résumé</a></li>
    	<li><a class="nav-link" href="https://github.com/Sally-Yang-Jing-Ou">GitHub</a></li>
    	<li><a class="nav-link" href="https://www.linkedin.com/in/sallyouyang">LinkedIn</a></li>
    </ul>
</div>
